[submodule "tests/n64-tests"]
	path = tests/n64-tests
	url = https://github.com/Dillonb/n64-tests.git
[submodule "src/contrib/parallel-rdp/parallel-rdp-standalone"]
	path = src/contrib/parallel-rdp/parallel-rdp-standalone
	url = git@github.com:Themaister/parallel-rdp-standalone.git
